extends layout

block content
  h1 Articles
  p *********************************
  each user in users
    h3 
      a(href='#{user._id}') #{user._id}
    p -----------------------------
    h4 #{user.content}
    p ==============================================================